<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FineApple</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>example</string>
			</array>
		</dict>
	</array>
    <key>NSBonjourServices</key>
    <array>
        <string>_MCTest._tcp</string>
        <string>_MCTest._udp</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>이 앱은 로컬 네트워크에서 다른 기기와 통신하기 위해 네트워크 접근 권한이 필요합니다.</string>
</dict>
</plist>
